@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white; /* bg-white */
  font-family: "Sora", sans-serif; /* font-[Sora] */
  color: black; /* text-dark */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a202c; /* dark:bg-body */
    color: white; /* dark:text-white */
  }
}
